.def-button {
    -fx-background-color: transparent;
    -fx-background-radius: 40;
    -fx-border-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 10px;
    -fx-transition-duration: 0.3s;
    -fx-transition-property: background-color;
}

.def-button:hover {
    -fx-background-color: rgb(30, 30, 30);
}
